* {
  box-sizing: border-box;
}
body {
  background-color: #0c131b;
  font-family: 'Nunito Sans', sans-serif;
}
.main {
  margin-top: 50px;
  position: relative;
}
header img {
  display: block;  
  margin: 0 auto;
}
/* PROMOTION SECTION */
.promotion {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.promotion h3 {
  text-align: center;
  color: #50f8df;
  font-size: 14px;
  margin-top: 0;
  line-height: 20px;
  font-weight: 600;
}
.promotion h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  line-height: 40px;
  font-size: 30px;
  font-style: italic;
  margin: 10px auto;
}
.promotion strong {
  text-align: center;
  color: #dcdcdc;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  display: block;
}
.promotion img {
  display: block;  
  margin: 50px auto 0;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.4s;
  animation-name: pulse;
  animation-duration: 0.4s;
}
/* STUDENTS AREA SECTION */
.students-area {
  position: relative;
  padding-top: 50px;
  padding-bottom: 15px;
}
hr {
  border: none;
  border-top: 1px solid #30363d;
}
.students-area h2 {
  color: #ffffff;
  text-align: center;
  margin: 0 0 50px 0px;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;  
}
.students-area .student-card {
  border: 1px solid #30363d;
  text-align: center;
  padding: 35px 0px 35px;
  margin-bottom: 30px;
}
.students-area .student-card ul{
  overflow: hidden;
  padding: 0;
  max-width: 320px;
  width: 100%;
  display: block;
  margin: 30px auto 0;
}
.students-area .student-card ul li{
  list-style: none;
  text-align: left;
  color: #9ba2a8;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 20%;
  font-size: 12px;
}
.students-area .student-card img{
  border-radius: 50%;
  width: 130px;
  display: block;
  margin: 0 auto;
}
.students-area .student-card h4{
  color: #50f8df;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  margin: 15px 0px 0;
}
.students-area .student-card a{
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

/* YT BUTTON */
.yt-area {
  position: relative;
  padding-bottom: 50px;
}
.yt-area button.yt {
  font-family: 'Nunito Sans', sans-serif;
  border: 2px solid #50f8df;
  color: #fff;
  padding: 8px 20px;
  background: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
  line-height: 30px;
  font-size: 15px;
  max-width: 320px;
  width: 100%;
}
.yt-area button.fa:before {
  float: left;
  color: #4ae3cd;
}
.yt-area button.fa:after {
  float: right;
  content: "\f105";
}
.yt-area button.fa:before, .yt-area button.fa:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 24px;
}
.yt-area span{  
  text-align: center;
  display: block;
  margin: 10px auto 0;
  font-size: 13px;
  color: #9da3aa;
  font-weight: 300;
}

/* FOOTER */
footer {
  position: relative;
  padding: 40px 0;
}
footer .footer-logo {
  display: block;
  margin: 0 auto 30px;
}
footer small {
  text-align: center;
  color: #9da3aa;
  font-weight: 300;
  display: block;
  font-size: 10px;
  margin: 10px 0;
}
footer ul {
  max-width: 310px;
  width: 100%;
  display: block;
  margin: 30px auto 0;
  padding: 0;
}
footer ul li{
  list-style: none;
  color: #9da3aa;
  font-weight: 300;
  font-size: 10px;
  display: inline-block;
}
footer ul li a {
  color: #50f8df;
  text-decoration: none;
}
footer ul li:after {
  content: " | ";

}
footer ul li:last-child:after  {
  content: " ";

}
/* BOOTSTRAP SNIPETS COPY */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
[class*="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.hidden {
  opacity: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.59);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.modal-header {
  padding: 5px 15px;
  color: white;
  text-align: center;
}
.modal-header h2 {
  color: rgb(45, 45, 45);
}
.modal-content {
  top: 0;
  margin-top: 100px;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.4s;
  animation-name: pulse;
  animation-duration: 0.4s;
  border: 5px solid rgba(0, 0, 0, 0.77);
  border-radius: 10px;
}
.close {
  color: #2d2727;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-body {
  padding: 2px 20px 20px;
}
.modal-body input {
  border: 3px solid rgba(0,0,0,0.2);
  background-color: #f1f1f1;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 16px 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
.modal-body button {
  color: rgb(255, 255, 255);
  background-color: rgb(228, 59, 44);
  font-size: 23px;
  border: none;
  width: 100%;
  padding: 10px;
  border-bottom: 3px solid rgba(0,0,0,0.2);
}
.modal-body form span.inpt {
  position: relative;
  width: 100%;
}
.modal-body form span.inpt:before {
  position: absolute;
  top: 18px;
  right: 15px;
  color: #9e9fa0;
}
.modal span.txt {
  text-align: center;
  display: block;
  margin: 10px auto 0;
  font-size: 16px;
  color: #9da3aa;
  font-weight: 300;
}
.modal .fa-lock:before {
  content: "\f023";
  margin-right: 5px;
  font-size: 17px;
  display: inline-block;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

@media (max-width:360px) {
  .yt-area button.yt {
    max-width: 290px;
  }
}
@media (max-width:767px) {
  .card {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
  }
}
@media (min-width: 320px) {
  .students-area .student-card h4{
    font-size: 16px;
    line-height: 45px;
  }
  .students-area .student-card a{
    font-size: 16px;
  }
  .students-area .student-card ul li{    
    font-size: 13px;
  }
}
@media (min-width: 768px) { 
  .promotion {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .promotion h3 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .promotion h1 {
    line-height: 50px;
    font-size: 42px;    
    width: 90%;
  }
  .promotion strong { 
    font-size: 26px;
    line-height: 36px; 
  }
  .students-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .students-area h2 {
    font-size: 28px;
    margin: 0 0 60px 0px;
  }
  .students-area .student-card {
    padding: 30px 0px 30px;
    margin-bottom: 0;
  }
  .yt-area {
    padding-bottom: 60px;
  }
  .yt-area button.yt {
    font-size: 16px;
  }
  .yt-area span{
    font-size: 16px;
  }
  .students-area .student-card ul li{    
    font-size: 13px;
    padding-left: 10%;
  }
  footer ul {    
    margin: 40px auto 0;
    max-width: 380px;
  }
  footer small {
    font-size: 12px;
  }
  footer ul li {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  header img {
    float: left;
  }
  .promotion {
    padding-top: 120px;
    padding-bottom: 120px;
  }  
  .promotion h3 {
    font-size: 20px;
    text-align: left;
  }  
  .promotion strong {
    text-align: left;     
    width: 80%;
  }
  .promotion h1 {
    text-align: left;
    line-height: 65px;
    font-size: 50px;
    margin: 10px 0;
  }  
  .promotion img {
    margin: 0 auto;
  }
  .students-area h2 {
    font-size: 36px;
    margin: 0 0 70px 0px;
  }  
  .yt-area {
    padding-bottom: 75px;
  }
  .yt-area button.yt {
    font-size: 20px;
  }
  .yt-area span{
    font-size: 16px;
  }
  .students-area .student-card {
    padding: 50px 0px 50px;
  }
  .students-area .student-card h4{
    font-size: 20px;
    line-height: 65px;
  }
  .students-area .student-card a{
    font-size: 20px;
  }
  .students-area .student-card ul li{    
    font-size: 16px;
  }
  
  footer ul {    
    margin: 50px auto 0;
    max-width: 450px;
  }
  footer small {
    font-size: 14px;
  }
  footer ul li {
    font-size: 14px;
  }
}